# basic config
ISA=riscv
ARCH=riscv64
MARCH=rv64imafdc
ABI=lp64d
CROSS_COMPILE=riscv64-unknown-linux-gnu

# path config
# https://github.com/riscv/riscv-pk.git
RISCV_PK=/home/zhou/workspace/riscv/riscv-pk
# https://github.com/torvalds/linux.git
LINUX=/home/zhou/workspace/riscv/linux
# https://git.busybox.net/busybox
BUSYBOX=/home/zhou/workspace/riscv/busybox
# https://github.com/mkj/dropbear.git
DROPBEAR=/home/zhou/workspace/riscv/dropbear

# https://github.com/UCanLinux/riscv64-sample.git
# has old version qemu if needed to download
SAMPLE=sample
# https://github.com/michaeljclark/busybear-linux.git
BUSYBEAR=busybear

KERNEL=kernel
BBL=bootloader
IMAGE_FILE=disk/busybear.bin
IMAGE_SIZE=100
ROOT_PASSWORD=root

DISK_FILE=disk/riscv_disk
DISK_SIZE=50
