# basic config
ISA=riscv
ARCH=riscv64
MARCH=rv64imafdc
ABI=lp64d
CROSS_COMPILE=riscv64-unknown-linux-gnu

# path config
# riscv build cross-compile toolchain
RISCV=/home/zhou/workspace/riscv/install
# https://github.com/riscv/riscv-pk.git
RISCV_PK=/home/zhou/workspace/riscv/riscv-pk
# https://github.com/torvalds/linux.git
LINUX=/home/zhou/workspace/riscv/linux
# https://git.busybox.net/busybox
BUSYBOX=/home/zhou/workspace/riscv/busybox
# https://github.com/mkj/dropbear.git
DROPBEAR=/home/zhou/workspace/riscv/dropbear
# https://git.buildroot.net/buildroot
BUILDROOT=/home/zhou/workspace/riscv/buildroot

# https://github.com/UCanLinux/riscv64-sample.git
# has old version qemu if needed to download
SAMPLE=sample
# https://github.com/michaeljclark/busybear-linux.git
BUSYBEAR=busybear

KERNEL=kernel
BBL=bootloader
INITRAMFS=buildroot_initramfs
ROOTFS=buildroot_rootfs
SYSROOT=buildroot_initramfs_sysroot


IMAGE_FILE=disk/busybear.bin
IMAGE_SIZE=100
ROOT_PASSWORD=root

DISK_FILE=disk/riscv_disk
DISK_SIZE=50

RAM_FILE=disk/initramfs.cpio.gz
ROOT_FILE=disk/rootfs.ext4
